@import "../../less-framework/functions.less";

@basedir: "{{basedir}}";
@thumbnails-height: 116px;

.choco-unselect {
  #mlf > .user-select(none);
}

.choco-item {
  display: block;
}

.choco-item-hover {
  position: relative;
  display: block;
  cursor: pointer;
  filter: ~`'alpha(opacity=40)'`;

  &:hover, &.choco-hover {
    background-image: url("@{basedir}/images/lupa.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: #000 e("\9");
  }
}

.choco-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding: 50px 70px;
  background: transparent url("@{basedir}/images/black80.png") 0 0 repeat e("\9");
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;

  &.choco-show {
    display: block;
  }

  &.choco-hideless {
    .choco-leftside, .choco-rightside, .choco-thumbnails, .choco-thumbnails-toggle {
      display: none;
      cursor: default;
    }

    .choco-container {
      cursor: default;
    }
  }
}

@import "animations/close.less";

.choco-close {
  position: fixed;
  right: 27px;
  top: 54px;
  width: 17px;
  height: 17px;
  background: url("@{basedir}/images/close.png") 0 0 no-repeat;
  #mlf > .opacity(0.5);
  cursor: pointer;
  z-index: 15px;
  #mlf > .animation(close 0.8s);

  &:hover, &.choco-hover {
    #mlf > .opacity(1);
  }
}

@import "animations/smooth.less";

.sidecolumn() {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 20;
  #mlf > .animation(smooth 0.8s);
}

.choco-leftside {
  .sidecolumn();
  left: 0;
  color: #666;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    position: relative;
    left: 34px;
    top: 54px;
    width: 17px;
    height: 17px;
    background: url("@{basedir}/images/arrow-l.png") 0 0 no-repeat;
    #mlf > .opacity(0.5);
  }

  &:hover {
    color: #fff;

    &:before {
      #mlf > .opacity(1);
    }
  }
}

.choco-rightside {
  .sidecolumn();
  right: 0;
  cursor: pointer;
}

.container() {
  position: fixed;
  top: 50%;
  left: 50%;
}

@import "animations/spin.less";

.choco-spinner {
  .container();
  z-index: 10;

  &.choco-hide {
    display: none;
  }

  img {
    @size: 30px;
    .container();
    margin-left: round(-(@size / 2));
    margin-top: round(-(@size / 2) - (@thumbnails-height / 2));
    #mlf > .animation(spin 0.8s linear infinite);

    &.choco-spinner-cssanimation {
      display: none;
    }
  }
}

.cssanimations {
  .choco-spinner-cssanimation {
    display: inline-block;
  }

  .choco-spinner-gifanimation {
    display: none;
  }
}

@import "animations/shower.less";

.choco-container {
  .container();
  background-color: #000;
  background-position: 0 0;
  background-repeat: no-repeat;
  #mlf > .background-size(100% 100%);
  #mlf > .box-shadow(0 0 0 #111);
  #mlf > .opacity(0);
  cursor: pointer;
  z-index: 15;
  zoom: 1;
  #mlf > .animation(shower 200ms ease-in-out);

  &.choco-show {
    #mlf > .opacity(1);
    #mlf > .box-shadow(1px 1px 10px #111);
  }

  &.choco-error {
    width: 300px;
    height: 300px;
    background-color: transparent;
    background-image: url("@{basedir}/images/notfound.png") !important;
    background-position: 50% 50%;
    #mlf > .background-size(auto auto);
    #mlf > .box-shadow(none);
  }
}

.choco-header {
  .container();
  display: none;
  height: 35px;
  text-align: left;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

  &.choco-show {
    display: block;
  }

  h1 {
    margin: 0;
    padding: 0 0 2px 0;
    color: #fff;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@import "animations/thumbnails.less";

.choco-thumbnails {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 53px;
  height: @thumbnails-height + 7px;
  margin: 0;
  padding: 11px 0 0 53px;
  border-top: 2px solid #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 25;
  #mlf > .animation(thumbnails 1.6s ease-in-out);

  &.choco-hide {
    margin-bottom: -@thumbnails-height - 18px;
  }

  .choco-thumbnail {
    @height: @thumbnails-height - 10px;
    display: inline-block;
    width: round(@height + (@height / 3));
    height: @height;
    margin: 3px 25px 3px 3px;
    padding: 0;
    background-color: #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    #mlf > .background-size(auto @thumbnails-height - 4px);
    #mlf > .border-radius(7px);
    #mlf > .box-shadow(0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 15px round(@height / 2) rgba(0, 0, 0, 0.3));
    cursor: pointer;
    vertical-align: middle;
    #mlf > .transition(box-shadow 0.1s ease-in-out);

    &:last-child {
      margin-right: 3px;
    }

    &:hover, &.selected, &.selected:hover {
      #mlf > .box-shadow(0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 15px 0 rgba(0, 0, 0, 0.1));
    }

    &.selected, &.selected:hover {
      margin: 0 22px 0 0;
      border: 3px solid #fff;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.choco-thumbnails-toggle {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 53px;
  height: @thumbnails-height + 20px;
  background: url("@{basedir}/images/arrow-b.png") 5px 0 no-repeat;
  cursor: pointer;
  z-index: 20;
  #mlf > .animation(thumbnails 1.6s ease-in-out);

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: @thumbnails-height + 18px;
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    #mlf > .opacity(1);
    cursor: default; 
  }

  &.choco-hide {
    bottom: -9px;
    right: 13px;
    width: 54px;
    height: 28px;
    background: url("@{basedir}/images/arrow-t.png") 50% 50% no-repeat;

    &:after {
      content: '';
      position: fixed;
      right: 0;
      bottom: 0;
      display: block;
      width: 26px;
      height: 2px;
      background-color: #fff;
    }
  }
}  
