@basedir: "{{basedir}}";

@overlay-background: rgba(0,0,0,0.8);

@thumbnails-height: 120px;
@thumbnails-aspect-ratio: 4/3;
@thumbnails-padding-x: 20px;
@thumbnails-padding-y: 10px;
@thumbnails-border-size: 2px;
@thumbnails-offset-height: @thumbnails-height + @thumbnails-padding-y * 2 + @thumbnails-border-size;

.choco-body {
  overflow: hidden;
}

.choco-unselect {
  user-select: none;
}

.choco-item {
  display: block;
}

.choco-item-hover {
  position: relative;
  display: block;
  filter: ~`'alpha(opacity=40)'`;
  cursor: pointer;

  &:hover, &.choco-hover {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("@{basedir}/images/lupa.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.choco-slider {
  display: block;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  transition: transform 0.4s;
}
.choco-slide {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  &.choco-error {
    .choco-slide-container {
      width: 60px;
      height: 60px;
      background-color: transparent;
      background-image: url("@{basedir}/images/notfound.svg");
      background-position: 50% 50%;
      background-size: contain;
    }
    .choco-slide-image {
      display: none;
    }
  }
}
.choco-slide-container {
  display: inline-block;
  overflow: hidden;
  max-height: 100%;
  color: #fff;
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
}
.choco-slide-title {
  position: relative;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  height: 20px;
  font-size: 20px;
}
.choco-slide-image {
  display: block;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 20 5px red;
}

.choco-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  padding: 50px 0 @thumbnails-offset-height;
  background: @overlay-background;

  &.choco-show {
    display: block;
  }

  &.touch {
    padding: 0;
    background: #2d3032;
    user-select: none;
    .choco-thumbnails,
    .choco-thumbnails-toggle,
    .choco-leftside,
    .choco-rightside {
      display: none;
    }
    .choco-slider {
      transition: none;
      &.animated {
        transition: transform 0.2s;
      }
    }
  }

  &.choco-hideless {
    .choco-leftside, .choco-rightside, .choco-thumbnails, .choco-thumbnails-toggle {
      display: none;
      cursor: default;
    }

  }
}

.choco-close {
  position: fixed;
  top: 54px;
  right: 27px;
  z-index: 125;
  width: 17px;
  height: 17px;
  background: url("@{basedir}/images/close.png") 0 0 no-repeat;
  opacity: 0.5;
  cursor: pointer;
  //animation: close 0.8s;

  &:hover, &.choco-hover {
    opacity: 1;
  }
}


.sidecolumn() {
  position: fixed;
  top: 0;
  bottom: @thumbnails-offset-height;
  margin: 0;
  padding: 0;
  width: 50px;
  cursor: pointer;
  animation: smooth 0.8s;
}

.choco-leftside {
  .sidecolumn();
  left: 0;

  background: url("@{basedir}/images/arrow-l.svg") 20 20 no-repeat;
  color: #666;

  &:hover {
    color: #fff;

    &:before {
      opacity: 1;
    }
  }
}

.choco-rightside {
  .sidecolumn();
  right: 0;
  cursor: pointer;
}

.container() {
  position: fixed;
  top: 50%;
  left: 50%;
}

.choco-spinner {
  display: none;
}
.choco-loading .choco-spinner {
  display: inline-block;
  animation: 'spin' 1s linear infinite;
}

.choco-header {
  .container();
  display: none;
  height: 35px;
  text-align: left;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

  &.choco-show {
    display: block;
  }

  h1 {
    overflow: hidden;
    margin: 0;
    padding: 0 0 2px 0;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.1em;
  }
}


.choco-thumbnails {
  @height: @thumbnails-height;
  @x: @thumbnails-padding-x;
  @y: @thumbnails-padding-y;
  @border: @thumbnails-border-size;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: @y @x;
  min-width: 100%;
  height: @thumbnails-offset-height;
  border-top: @border solid rgba(255,255,255,0.8);
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  transition: transform 0.4s;
  //animation: thumbnails 1s ease-in-out;

  &.choco-hide {
    margin-bottom: -@thumbnails-height - 18px;
  }

}

.choco-thumbnails-toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 120;
  width: 40px;
  height: @thumbnails-offset-height;
  background: url("@{basedir}/images/arrow-b.svg") 50% -5px no-repeat;
  box-shadow: inset -40px 0 40px -40px #000;
  cursor: pointer;
  //animation: thumbnails 1.6s ease-in-out;

}

.choco-thumbnails-toggle.choco-hide {
  right: 0;
  bottom: -9px;
  width: 40px;
  height: 40px;
  background: url("@{basedir}/images/arrow-t.svg") 50% 15px no-repeat;
  box-shadow: none;

  &:after {
    position: absolute;
    right: -13px;
    bottom: 9px;
    display: block;
    width: 26px;
    height: 2px;
    content: '';
  }
}
.choco-thumbnail {
  @height: @thumbnails-height;
  @width: round(@height * @thumbnails-aspect-ratio);
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  width: @width;
  height: @height;
  border-radius: 2px;
  background-color: #000;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 15px round(@height / 2) rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  &.choco-selected, &.choco-selected:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 15px 0 rgba(0, 0, 0,
    0.1), 0 0 0 2px rgba(255,255,255,0.7);
  }
}

@keyframes close {
  0%   { opacity: 0; }
  75%  { opacity: 0; }
  100% { opacity: 0.5; }
}

@keyframes shower {
  0%   { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes smooth {
  0%   { opacity: 0; }
  75%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes thumbnails {
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  100% { opacity: 1; }
}
